/**
 * Styles.
 *
 * @package lsx-sharing
 */

.lsx-sharing-content {
	.post-tags-wrapper & {
		clear: none;
		float: right;
		line-height: 1;
		margin: 0 0 7px 0;
		text-align: center;
		width: 100%;

		@media only screen and (max-width: 767px) {
			margin-top: 10px;
			text-align: left;
			width: 100%;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.post-tags-wrapper .post-tags {
		width: 50%;
		display: inline-block;
	}

	.post-tags-wrapper .post-tags + & {
		text-align: right;
		width: 50%;

		@media only screen and (max-width: 991px) {
			text-align: center;
			width: 100%;
			margin-top: 2.4rem;
		}
	}

	// Storefront
	body.single-post:not(.lsx) & {
		margin-bottom: 20px;
	}

	// WooCommerce
	body.single-product.woocommerce-active & {
		margin-top: 20px;
	}

	.lsx-sharing-label {
		font-size: 90%;
		line-height: 25px;

		&:before {
			content: "\f1e0";
			border-top: none;
			display: inline-block;
			font: {
				family: fontawesome;
				weight: normal;
				size: 16px;
			}
			margin-right: 8px;
			margin-bottom: 0;
			min-width: auto;
			width: auto;
		}

		@media only screen and (max-width: 767px) {
			display: none;
		}
	}

	p {
		margin-bottom: 0;
	}

	.lsx-sharing-label {
		display: inline-block;
		margin-right: 10px;
	}

	.lsx-sharing-button {
		display: inline-block;
		margin-right: 8px;

		a {
			border-radius: 50%;
			display: inline-block;
			font-size: 12px;
			line-height: 25px;
			text-align: center;
			width: 25px;

			&:not(.btn) {
				&,
				&:active,
				&:visited {
					background-color: #e9e9e9;
					color: #777;
				}

				&:hover,
				&:hover:active,
				&:focus {
					background-color: darken(#e9e9e9, 15%);
					color: #777;
				}
			}
		}

		&:last-child {
			margin-right: 0;
		}

		&.lsx-sharing-button-email {
			a:not(.btn) {
				&,
				&:active,
				&:visited {
					background-color: #4a4a4a;
					color: white;
				}

				&:hover,
				&:hover:active,
				&:focus {
					background-color: darken(#4a4a4a, 15%);
					color: white;
				}
			}

			.fa {
				&:before {
					content: "\f0e0";
				}
			}
		}

		&.lsx-sharing-button-facebook {
			a:not(.btn) {
				&,
				&:active,
				&:visited {
					background-color: #3b5998;
					color: white;
				}

				&:hover,
				&:hover:active,
				&:focus {
					background-color: darken(#3b5998, 15%);
					color: white;
				}
			}

			.fa {
				&:before {
					content: "\f09a";
				}
			}
		}

		&.lsx-sharing-button-twitter {
			a:not(.btn) {
				&,
				&:active,
				&:visited {
					background-color: #00acee;
					color: white;
				}

				&:hover,
				&:hover:active,
				&:focus {
					background-color: darken(#00acee, 15%);
					color: white;
				}
			}

			.fa {
				&:before {
					content: "\f099";
				}
			}
		}

		&.lsx-sharing-button-pinterest {
			a:not(.btn) {
				&,
				&:active,
				&:visited {
					background-color: #ca1f27;
					color: white;
				}

				&:hover,
				&:hover:active,
				&:focus {
					background-color: darken(#ca1f27, 15%);
					color: white;
				}
			}

			.fa {
				&:before {
					content: "\f231";
				}
			}
		}
	}
}

.lsx-sharing-wrapper {
	&.footer-meta {
		padding: 2.4rem 0;
	}
}
