/**
 * Styles.
 *
 * @package lsx-sharing
 */

.lsx-sharing-content {
	ul {
		list-style: none;
		padding-left: 0;

		li {
			display: inline-block;
			margin-left: 10px;

			&:first-child {
				margin-left: 0;
			}

			&.lsx-sharing-button-facebook {
				.fa {
					&:before {
						content: '\f230';
					}
				}
			}

			&.lsx-sharing-button-twitter {
				.fa {
					&:before {
						content: '\f099';
					}
				}
			}

			&.lsx-sharing-button-pinterest {
				.fa {
					&:before {
						content: '\f0d2';
					}
				}
			}
		}
	}
}
