/**
 * Styles.
 *
 * @package lsx-sharing
 */

.lsx-sharing-content {
	.lsx-sharing-label {
		display: inline-block;
		margin-right: 10px;
	}

	.lsx-sharing-button {
		display: inline-block;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}

		&.lsx-sharing-button-facebook {
			.fa {
				&:before {
					content: '\f230';
				}
			}
		}

		&.lsx-sharing-button-twitter {
			.fa {
				&:before {
					content: '\f099';
				}
			}
		}

		&.lsx-sharing-button-pinterest {
			.fa {
				&:before {
					content: '\f0d2';
				}
			}
		}
	}
}
