/**
 * Styles.
 *
 * @package lsx-sharing
 */

.lsx-sharing-content {
	.post-tags-wrapper & {
		clear: none;
		float: right;
		line-height: 1;
		margin: 0 0 7px 0;
		text-align: center;
		width: 100%;

		@media only screen and (max-width: 767px) {
			margin-top: 10px;
			text-align: left;
			width: 100%;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.post-tags-wrapper .post-tags + & {
		text-align: right;
		width: 50%;

		@media only screen and (max-width: 767px) {
			text-align: left;
		}
	}

	.lsx-sharing-label {
		font-size: 15px;
		line-height: 26px;

		&:before {
			color: #333;
			content: '\f1e0';
			border-top: none;
			display: inline-block;
			font: {
				family: fontawesome;
				weight: normal;
				size: 16px;
			}
			margin-right: 5px;
			margin-bottom: 0;
			min-width: auto;
			width: auto;
		}

		@media only screen and (max-width: 767px) {
			display: none;
		}
	}

	p {
		margin-bottom: 0;
	}

	.lsx-sharing-label {
		display: inline-block;
		margin-right: 10px;
	}

	.lsx-sharing-button {
		display: inline-block;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}

		&.lsx-sharing-button-facebook {
			.fa {
				&:before {
					content: '\f230';
				}
			}
		}

		&.lsx-sharing-button-twitter {
			.fa {
				&:before {
					content: '\f099';
				}
			}
		}

		&.lsx-sharing-button-pinterest {
			.fa {
				&:before {
					content: '\f0d2';
				}
			}
		}
	}
}
