/** Styles. @package lsx-sharing */
.lsx-sharing-content ul { list-style: none; padding-right: 0; }

.lsx-sharing-content ul li { display: inline-block; margin-right: 10px; }

.lsx-sharing-content ul li:first-child { margin-right: 0; }

.lsx-sharing-content ul li.lsx-sharing-button-facebook .fa:before { content: '\f230'; }

.lsx-sharing-content ul li.lsx-sharing-button-twitter .fa:before { content: '\f099'; }

.lsx-sharing-content ul li.lsx-sharing-button-pinterest .fa:before { content: '\f0d2'; }
