/**
 * Styles.
 *
 * @package lsx-sharing
 */
.post-tags-wrapper .lsx-sharing-content {
  clear: none;
  float: right;
  line-height: 1;
  margin: 0 0 7px 0;
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .post-tags-wrapper .lsx-sharing-content {
    margin-top: 10px;
    width: 100%;
  }
  .post-tags-wrapper .lsx-sharing-content:first-child {
    margin-top: 0;
  }
}
.lsx-sharing-content .post-tags-wrapper .post-tags {
  width: 50%;
  display: inline-block;
}
.post-tags-wrapper .post-tags + .lsx-sharing-content {
  text-align: right;
  width: 50%;
}
@media only screen and (max-width: 991px) {
  .post-tags-wrapper .post-tags + .lsx-sharing-content {
    text-align: center;
    width: 100%;
    margin-top: 2.4rem;
  }
}
body.single-post:not(.lsx) .lsx-sharing-content {
  margin-bottom: 20px;
}
body.single-product.woocommerce-active .lsx-sharing-content {
  margin-top: 20px;
}
.lsx-sharing-content .lsx-sharing-label {
  font-size: 90%;
  line-height: 25px;
}
.lsx-sharing-content .lsx-sharing-label:before {
  content: "\f1e0";
  border-top: none;
  display: inline-block;
  font-family: fontawesome;
  font-weight: normal;
  font-size: 16px;
  margin-right: 8px;
  margin-bottom: 0;
  min-width: auto;
  width: auto;
}
@media only screen and (max-width: 767px) {
  .lsx-sharing-content .lsx-sharing-label {
    display: none;
  }
}
.lsx-sharing-content p {
  margin-bottom: 0;
}
.lsx-sharing-content .lsx-sharing-label {
  display: inline-block;
  margin-right: 10px;
}
.lsx-sharing-content .lsx-sharing-button {
  display: inline-block;
  margin-right: 8px;
}
.lsx-sharing-content .lsx-sharing-button a {
  border-radius: 50%;
  display: inline-block;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  width: 25px;
}
.lsx-sharing-content .lsx-sharing-button a:not(.btn), .lsx-sharing-content .lsx-sharing-button a:not(.btn):active, .lsx-sharing-content .lsx-sharing-button a:not(.btn):visited {
  background-color: #e9e9e9;
  color: #777;
}
.lsx-sharing-content .lsx-sharing-button a:not(.btn):hover, .lsx-sharing-content .lsx-sharing-button a:not(.btn):hover:active, .lsx-sharing-content .lsx-sharing-button a:not(.btn):focus {
  background-color: #c3c3c3;
  color: #777;
}
.lsx-sharing-content .lsx-sharing-button:last-child {
  margin-right: 0;
}
.lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-email a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor), .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-email a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):active, .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-email a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):visited {
  background-color: #4a4a4a;
  color: white;
}
.lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-email a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):hover, .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-email a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):hover:active, .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-email a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):focus {
  background-color: #242424;
  color: white;
}
.lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-email .fa:before {
  content: "\f0e0";
}
.lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-facebook a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor), .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-facebook a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):active, .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-facebook a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):visited {
  background-color: #3b5998;
  color: white;
}
.lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-facebook a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):hover, .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-facebook a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):hover:active, .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-facebook a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):focus {
  background-color: #263961;
  color: white;
}
.lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-facebook .fa:before {
  content: "\f09a";
}
.lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-twitter a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor), .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-twitter a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):active, .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-twitter a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):visited {
  background-color: #00acee;
  color: white;
}
.lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-twitter a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):hover, .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-twitter a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):hover:active, .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-twitter a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):focus {
  background-color: #0075a2;
  color: white;
}
.lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-twitter .fa:before {
  content: "\f099";
}
.lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-pinterest a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor), .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-pinterest a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):active, .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-pinterest a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):visited {
  background-color: #ca1f27;
  color: white;
}
.lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-pinterest a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):hover, .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-pinterest a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):hover:active, .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-pinterest a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):focus {
  background-color: #88151a;
  color: white;
}
.lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-pinterest .fa:before {
  content: "\f231";
}
.lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-whatsapp a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor), .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-whatsapp a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):active, .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-whatsapp a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):visited {
  background-color: #55D063;
  color: white;
}
.lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-whatsapp a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):hover, .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-whatsapp a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):hover:active, .lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-whatsapp a:not(.btn):not(.wp-block-button__link):not(.has-link-anchor):focus {
  background-color: #2faa3d;
  color: white;
}
.lsx-sharing-content .lsx-sharing-button.lsx-sharing-button-whatsapp .fa:before {
  content: "\f232";
}

.lsx-sharing-wrapper.footer-meta {
  padding: 2.4rem 0;
}/*# sourceMappingURL=lsx-sharing.css.map */